.button {

	margin: 20px 0;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	clear: both;
	background-color: $button-color;
	color: $button-font-color;

	@include border-radius($button-border-radius);

}

.button:hover {
	background-color: $button-hover-color;
}
