.button {

	margin: 20px 0;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	clear: both;
	background-color: #333;
	color: #FFF;

	@include border-radius(3px);

}

.button:hover {
	background-color: #444;
}
