.menu {

	@extend %section;
	background-color: $menu-background-color;
	padding: 40px 0;

	ul {
		margin: 0;
		padding: 0;
	}

	a {
		color: $menu-link-color;
		font-size: $menu-link-font-size;
		font-weight: 300;
		opacity: .8;
		text-decoration: none;
		padding: 20px;
	}

	a:hover {
		color: $menu-link-hover-color;
	}

	li {
		display: inline-block;
	}
}
